<template>
  <div class="aside-items">
    <div class="aside-outer">
      <div class="aside-img">
        <img src="~assets/images/coach.svg" alt="" />
      </div>
      <div class="aside-title">Вы тренер?</div>
      <div class="aside-description">
        Зарегистрируйтесь, чтобы Вас находили клиенты
      </div>
      <nuxt-link to="/registration?role=trainer" class="aside-link">
        Стать тренером
      </nuxt-link>
    </div>
    <div class="aside-outer">
      <div class="aside-img">
        <img src="~assets/images/training.svg" alt="" />
      </div>
      <div class="aside-title">Вы хотите тренироваться?</div>
      <div class="aside-description">
        Зарегистрируйтесь, чтобы найти тренера
      </div>
      <nuxt-link to="/registration?role=client" class="aside-link">
        Найти тренера
      </nuxt-link>
    </div>
    <div class="aside-outer aside-outer_subscribe">
      <div class="aside-title aside-title_subscribe">
        Рассылка
      </div>
      <div class="aside-description aside-description_subscribe">
        Подпишитесь на нашу еженедельную рассылку, чтобы получать самые
        интересные записи на почту
      </div>
      <button
        @click="dialogFormVisible = true"
        class="aside-link aside-link_subscribe"
      >
        Подписаться
      </button>
    </div>
    <el-dialog
      :visible.sync="dialogFormVisible"
      title="Подписаться на рассылку"
    >
      <el-form
        ref="modalSubsribe"
        :model="modalSubsribe"
        :rules="rules"
        novalidate="true"
        class="modal-subsribe"
      >
        <el-form-item
          :label-position="labelPosition"
          :rules="[
            {
              required: true,
              message: 'Пожалуйста введите Email',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Пожалуйста введите корректный email',
              trigger: ['blur', 'change']
            }
          ]"
          prop="email"
          label="Email"
        >
          <el-input v-model="modalSubsribe.email" type="email"></el-input>
        </el-form-item>
        <button
          @click.prevent="onSubmit()"
          :loading="loading"
          class="aside-link aside-link_subscribe aside-link_red"
        >
          Подписаться
        </button>
        <el-checkbox name="type"></el-checkbox>
        <span class="info-text">
          Я принимаю условия и даю согласие на
          <span class="info-text_red">обработку персональных данных</span>
        </span>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Aside',
  data() {
    return {
      loading: false,
      dialogTableVisible: false,
      dialogFormVisible: false,
      labelPosition: 'top',
      modalSubsribe: {
        email: ''
      },
      rules: {
        email: [
          {
            required: true,
            message: 'Пожалуйста введите email',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit() {
      this.$refs.modalSubsribe.validate(valid => {
        if (valid) {
          this.loading = true
          console.log('send')
          // try {
          //   const formData = {
          //     email: this.modalSubsribe.email
          //   }
          //   console.log('send', formData)
          //   /* await this.$store.dispatch('auth/login', formData)
          //   this.$router.push('/news?page=1') */
          // } catch (e) {
          //   this.loading = false
          // }
        }
      })
    }
  }
}
</script>

<style lang="sass">
.aside
  &-outer
    width: 100%
    border: 1px solid #DADADA
    padding: 39px 14px 31px 26px
    margin-bottom: 32px
  &-outer_subscribe
    border: 1px solid #FF5543
    background: #FF5543
  &-img
    margin-bottom: 22px
  &-title
    font-weight: bold
    font-size: 20px
    line-height: 20px
    color: #313132
    margin-bottom: 12px
  &-title_subscribe
    font-weight: bold
    font-size: 20px
    line-height: 33px
    text-transform: uppercase
    color: #ffffff
  &-description
    font-size: 18px
    line-height: 28px
    color: #313132
    margin-bottom: 16px
  &-description_subscribe
    color: #ffffff
    font-size: 16px
    line-height: 28px
  &-link
    font-family: Helvetica
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #FF5543
    text-decoration: none
    display: flex
    align-items: center
    &:after
      content: url(~assets/images/arrow-aside.svg)
      display: block
      margin-left: 8px
  &-link_subscribe
    font-family: Roboto
    font-weight: bold
    font-size: 14px
    line-height: 14px
    color: #333333
    padding: 10px 0
    display: flex
    width: 100%
    max-width: 177px
    justify-content: center
    background: #ffffff
    border: 0.7px solid #FFFFFF
    border-radius: 3px
    cursor: pointer
    &:after
      display: none
  &-link_red
    background: #FF5543
    color: #ffffff
    max-width: 262px
    margin-bottom: 32px
.el-dialog__wrapper
  overflow: hidden
  & .el-dialog
    width: 100%
    max-width: 459px
    background: #FAFAFA
    border: 1px solid #DADADA
    box-shadow: 0px 0px 14px rgba(242, 242, 242, 0.5)
  .el-dialog__header
    @media (max-width: 411px)
      margin: auto
  .el-dialog__headerbtn
    width: 32px
    height: 32px
    background: #FF5543
  .el-dialog__close.el-icon.el-icon-close
      color: #ffffff
      top: 56px
      right: 32px
      &:before
        font-size: 23px
  .el-dialog__header
    max-width: 263px
    margin-left: 76px
    padding-top: 56px
  .el-dialog__title
    font-family: Roboto
    font-weight: bold
    font-size: 24px
    line-height: 32px
    text-align: left
    color: #333333
    mix-blend-mode: normal
    opacity: 0.8
  .el-dialog__body
    padding: 30px 32px 32px 96px
    @media (max-width: 411px)
      padding: 15px
  .el-input
    max-width: 263px
  .el-form-item__label
    display: block
    width: 100%
    text-align: left
.modal-subsribe
  & .el-form-item
    display: flex
    flex-wrap: wrap
  & .el-form-item__label
    width: 100%
  & .el-form-item__content
    width: 100%
.info-text
  font-family: Helvetica
  font-weight: normal
  font-size: 12px
  line-height: 18px
  color: #666769
  mix-blend-mode: normal
  opacity: 0.8
  text-align: left
  &_red
    color: #FF5543
    display: block
.el-checkbox__inner
  width: 16px
  height: 16px
  border: 1px solid #cccccc
  &:hover
    border-color: #FF5543
.el-checkbox__input
  & .el-checkbox__inner
    border: 1px solid #cccccc
  &.is-checked
    & .el-checkbox__inner
      background-color: #FF5543
      border-color: #FF5543
</style>
