<template>
  <el-row class="items-main">
    <el-row class="inside">
      <el-col
        :span="2"
        :xs="{ span: 2, offset: 0 }"
        :sm="{ span: 2, offset: 0 }"
        :md="{ span: 2, offset: 0 }"
        class="title-comment"
      >
        <div class="comment-info">
          <div class="comment-info__img">
            <img
              v-if="item.user_avatar !== null"
              :src="item.user_avatar"
              alt=""
            />
            <img v-else src="~/assets/images/icon-comment-unknown.svg" alt="" />
            <a
              v-if="token"
              @click.prevent="answer()"
              class="comment-info__link"
              href="#"
              >{{ visible ? 'Закрыть' : 'Ответить' }}</a
            >
          </div>
        </div>
      </el-col>
      <el-col
        :span="17"
        :xs="{ span: 20, offset: 2 }"
        :sm="{ span: 20, offset: 2 }"
        :md="{ span: 18, offset: 0 }"
        class="title-comment"
      >
        <div class="comment-item">
          <div class="comment-item__top">
            <div class="comment-item__name">
              {{ item.user_name }} {{ item.user_last_name }}
            </div>
            <div class="comment-item__date">
              {{ item.publication_date }}
            </div>
          </div>
          <div class="comment-item__text">
            {{ item.comment }}
          </div>
          <div class="comment-item__bottom">
            <div class="comment-item__buttons">
              <button
                @click.prevent="rating(item.can_rate, 'add', item.comment_id)"
                class="comment-item__button"
              >
                <img src="~/assets/images/add-comment.svg" alt="" />
              </button>
              <span></span>
              <button
                @click.prevent="rating(item.can_rate, 'sub', item.comment_id)"
                class="comment-item__button"
              >
                <img src="~/assets/images/remove-comment.svg" alt="" />
              </button>
            </div>
            <div class="comment-item__statistic">
              <img src="~assets/images/icon-comment-statistic.svg" alt="" />
              <div
                v-if="item.rating && item.rating < 0"
                class="comment-item__count"
              >
                {{ item.rating }}
              </div>
              <div
                v-else-if="item.rating && item.rating > 0"
                class="comment-item__count"
              >
                +{{ item.rating }}
              </div>
              <div v-else class="comment-item__count">&nbsp;0</div>
              <a
                v-if="token"
                @click.prevent="answer = $event"
                class="comment-info__link"
                href="#"
                >{{ visible ? 'Закрыть' : 'Ответить' }}</a
              >
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <form-add-comment
      @visible="answer()"
      v-show="visible"
      :dataComment="item"
    />
    <template v-if="item.answers && item.answers.length"
      ><answer v-for="itemAnswer in item.answers" :item="itemAnswer"
    /></template>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex'
import FormAddComment from '@/components/Comments/FormAddCommentAnswer'
export default {
  name: 'Answer',
  components: { FormAddComment },
  props: {
    item: {
      default: () => {}
    },
    ratingComment: {}
  },
  data() {
    return {
      visible: false
    }
  },
  computed: {
    ...mapGetters({
      token: 'auth/isAuthenticated'
    })
  },
  methods: {
    rating(canRate, val, id) {
      const params = { commentId: id, direction: val }
      switch (canRate) {
        case false:
          this.$message.error('Вы уже изменяли рейтинг для этого комментария')
          break
        case true:
          this.$store.dispatch('post/changeRating', params)
      }
    },
    answer() {
      this.visible = !this.visible
    }
  }
}
</script>

<style lang="sass" scoped>
.items-main
  & .items-main
    & .inside.el-row
      padding-left: 10vh
      @media (max-width: 425px)
        padding-left: 6vw
button
  outline: none
  border: none
  width: 16px
  height: 16px
  cursor: pointer
  &.disabled
    opacity: .2
</style>
