<template>
  <section class="comments">
    <el-row :gutter="24">
      <el-col
        :span="24"
        :xs="{ span: 24, offset: 0 }"
        :sm="{ span: 24, offset: 0 }"
        :md="{ span: 24, offset: 2 }"
      >
        <h4>Комментарии к статье</h4>
        <form-add-comment v-if="token" />
        <div v-else class="comment-title">
          Чтобы оставить комментарий,
          <nuxt-link to="/registration">зарегистрируйтесь!</nuxt-link>
        </div>
        <el-row>
          <el-col :span="20" class="title-comments">
            <h3 v-if="postCount == 1" class="title-h3">
              {{ postCount }} комментарий
            </h3>
            <h3 v-else-if="postCount > 1 && postCount < 5" class="title-h3">
              {{ postCount }} комментария
            </h3>
            <h3 v-else-if="postCount >= 5 || postCount == 0" class="title-h3">
              {{ postCount }} комментариев
            </h3>
          </el-col>
        </el-row>
        <div>
          <answer
            v-for="comment in commentsAll"
            :key="comment.comment_id"
            :item="comment"
            :ratingComment="rating"
          />
        </div>
      </el-col>
    </el-row>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import FormAddComment from '@/components/Comments/FormAddComment'
import Answer from '@/components/Comments/Answer'
export default {
  name: `Comments`,
  components: { Answer, FormAddComment },
  props: {
    commentsAll: {},
    postCount: {},
    rating: {}
  },
  computed: {
    ...mapGetters({
      token: 'auth/isAuthenticated'
    })
  }
}
</script>

<style lang="sass">
.comments
  background: #FAFAFA
  padding: 64px 0 126px
h4
  font-family: Roboto
  font-weight: bold
  font-size: 32px
  line-height: 32px
  color: #313132
  margin-bottom: 48px
.comment-title
  color: #313132
  margin-bottom: 48px
  font-size: 22px
  line-height: 19px
.form-item
  background: #FFFFFF
  border: 1px solid #C4C4C4
  padding: 24px 24px 32px
  height: 276px
  width: 100%
  max-width: 950px
.el-form-item__content
  height: 100%
  display: flex
  flex-direction: column
.el-textarea__inner
  resize: none
  font-family: Roboto
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: rgba(110, 110, 110, 0.99)
  border: none
  background: #ffffff
  padding: 0
  &::placeholder
    font-family: Roboto
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: rgba(110, 110, 110, 0.99)
.info
  display: flex
  align-items: center
  margin-bottom: 16px
  &-img
    width: 45px
    height: 45px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  &-name
    font-family: Roboto
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #000103
    mix-blend-mode: normal
    opacity: 0.8
    margin-left: 10px
.bottom-form
  margin-top: auto
.el-button--danger
  background: #FF5543
  border-color: #FF5543
  margin-right: 32px
  font-family: Roboto
  font-weight: bold
  font-size: 12px
  line-height: 12px
  text-align: center
  color: #FFFFFF
  max-width: 132px
  width: 100%
.el-checkbox
  & .el-checkbox__inner
    width: 16px
    height: 16px
    &:hover
      border-color: #FF5543
.el-checkbox__input.is-checked+.el-checkbox__label
  color: #FF5543
.title-comments
  margin-bottom: 27px
  &:after
    content: ''
    mix-blend-mode: normal
    opacity: 0.19
    border-bottom: 1px solid rgba(110, 110, 110, 0.99)
    width: 100%
    height: 1px
    display: block
    margin-top: 4px
.title-h3
  font-family: Roboto
  font-weight: bold
  font-size: 20px
  line-height: 20px
  color: #313132
  position: relative
  &:after
    content: ''
    display: block
    background: #FF5543
    width: 152px
    height: 2px
    position: absolute
    top: 24px
    left: 0
.comment-info
  &__img
    width: 80px
    height: 80px
    @media (max-width: 580px)
      width: 45px
      height: 45px
  &__link
    font-family: Roboto
    font-weight: bold
    font-size: 16px
    line-height: 17px
    color: #244A9A
    @media (max-width: 580px)
      display: none
.comment-item
  &:after
    content: ''
    mix-blend-mode: normal
    opacity: 0.19
    border: 1px solid rgba(110, 110, 110, 0.99)
    width: 100%
    display: block
    margin-bottom: 30px
  &__top
    display: flex
    justify-content: space-between
    margin-bottom: 12px
    @media (max-width: 580px)
      flex-direction: column
  &__name
    font-family: Roboto
    font-weight: bold
    font-size: 18px
    line-height: 22px
    color: #000103
    mix-blend-mode: normal
    opacity: 0.8
    @media (max-width: 580px)
      order: 2
  &__date
    font-family: Roboto
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: rgba(110, 110, 110, 0.99)
    @media (max-width: 580px)
      order: 1
  &__text
    font-family: Roboto
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #000103
    mix-blend-mode: normal
    opacity: 0.8
    margin-bottom: 12px
  &__bottom
    display: flex
    align-items: flex-start
    margin-bottom: 14px
  &__buttons
    display: flex
    align-items: center
    padding-left: 27px
    @media (max-width: 580px)
      padding-left: 0
    & span
      width: 1px
      height: 7px
      background: #C4C4C4
      display: block
      margin: 0 5px
  &__statistic
    display: flex
    align-items: baseline
    margin-left: 10px
    & .comment-info__link
      display: none
      @media (max-width: 580px)
        display: flex
        margin-left: 12px
  &__count
    font-family: Helvetica
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: rgba(110, 110, 110, 0.99)
</style>
