<template>
  <el-form ref="formAddComments" :model="formAddComments">
    <el-form-item class="form-item">
      <div class="info">
        <div v-if="personalData.avatar" class="info-img">
          <img :src="personalData.avatar" alt="" />
        </div>
        <div v-else class="info-img">
          <img src="~/assets/images/icon-comment-unknown.svg" alt="" />
        </div>
        <div :model="name" class="info-name">
          {{ personalData.name }} {{ personalData.last_name }}
        </div>
      </div>
      <el-input
        v-model="formAddComments.comment"
        :style="{ resize: 'none' }"
        placeholder="Написать комментарий…."
        type="textarea"
      ></el-input>
      <div class="bottom-form">
        <el-button @click="onSubmit()" :loading="loading" type="danger"
          >Отправить</el-button
        >
      </div>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'FormAddComment',
  props: {
    dataComment: {}
  },
  data() {
    return {
      loading: false,
      formAddComments: {
        comment: '',
        articleId: '',
        parentId: ''
      },
      name: {
        name: '',
        lastName: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      token: 'auth/isAuthenticated',
      post: 'post/getPostsById',
      personalData: 'personalData/getData'
    })
  },
  methods: {
    onSubmit() {
      this.$refs.formAddComments.validate(async valid => {
        if (valid) {
          this.loading = true
          try {
            const formData = {
              comment: this.formAddComments.comment,
              articleId: this.post.article_id,
              parentId: this.dataComment.comment_id
            }
            await this.$store.dispatch('post/addComment', formData)
            this.formAddComments.comment = ''
            this.loading = false
            this.visibleForm()
          } catch (e) {
            this.$message.error('Введите комментарий')
            this.loading = false
          }
        }
      })
    },
    visibleForm() {
      this.visible = !this.visible
      this.$emit('visible', this.visible)
    }
  }
}
</script>

<style scoped></style>
