@font-face
  font-family: 'Roboto'
  src: url('RobotoCondensed-Regular.eot')
  src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('RobotoCondensed-Regular.woff') format('woff'),
  url('RobotoCondensed-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Roboto'
  src: url('RobotoCondensed-Bold.eot')
  src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('RobotoCondensed-Bold.woff') format('woff'),
  url('RobotoCondensed-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Helvetica'
  src: url('HelveticaRegular.eot')
  src: url('HelveticaRegular.eot?#iefix') format('embedded-opentype'),
  url('HelveticaRegular.woff') format('woff'),
  url('HelveticaRegular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
