<template>
  <nuxt-link :style="{ margin: 'auto' }" to="/">
    <img src="/logo-beta.png" alt="" />
  </nuxt-link>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="sass" scoped>
img
  max-width: 215px
</style>
