<template>
  <nav class="nav">
    <div class="container">
      <el-menu
        v-if="!isAuthenticated"
        :default-active="$route.path"
        router
        class="el-menu-demo"
        mode="horizontal"
      >
        <el-menu-item index="/cities" style="width: 100px;">
          <!--<span class="ico-tag">Выбор города</span>-->
        </el-menu-item>
        <el-menu-item index="/news?page=1">
          <!--<span class="ico-blog">Журнал</span>-->
        </el-menu-item>
        <logo />
        <el-menu-item index="/trainers">
          <!--<span class="icon-search">Поиск тренера</span>-->
        </el-menu-item>
        <el-menu-item index="/login">
          <span class="ico-auth">Авторизация</span>
        </el-menu-item>
      </el-menu>
      <el-menu
        v-else
        :default-active="$route.path"
        router
        class="el-menu-demo"
        mode="horizontal"
      >
        <!-- <el-menu-item index="/trainers">Поиск тренера</el-menu-item>-->
        <!-- <el-menu-item index="/news">
          <span class="ico-blog">Журнал</span>
        </el-menu-item>-->
        <logo />
        <!-- <el-menu-item index="/cabinet">
          Профиль
        </el-menu-item>-->
        <el-menu-item index="/logout">
          Выход
        </el-menu-item>
      </el-menu>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import Logo from '@/components/Layout/Logo'

export default {
  name: 'Navigation',
  components: { Logo },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated'
    })
  }
}
</script>

<style lang="sass" scoped>
.el-menu-demo
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 100%
  border-bottom: none
.nav
  display: flex
  flex-wrap: wrap
  border-top: 1.5px solid #ff5542
.logo
  margin: auto
.icon-search
  width: 100%
  display: flex
  align-items: center
  &:before
    width: 30px
    height: 30px
    line-height: 5px
    content: url('~assets/images/ico-search.png')
    display: flex
.ico-auth
  width: 100%
  display: flex
  align-items: center
  &:before
    width: 14px
    height: 14px
    margin-right: 10px
    line-height: 5px
    content: url('~assets/images/ico-auth.png')
    display: flex
.ico-blog
  width: 100%
  display: flex
  align-items: center
  &:before
    width: 14px
    height: 14px
    margin-right: 10px
    line-height: 5px
    content: url('~assets/images/ico-blog.png')
    display: flex
.ico-tag
  width: 100%
  display: flex
  align-items: center
  &:before
    width: 14px
    height: 14px
    margin-right: 10px
    line-height: 5px
    content: url('~assets/images/ico-tag.png')
    display: flex
</style>
