<template>
  <div style="display: flex">
    <social-sharing
      v-if="data"
      :title="data.block_content.title"
      :description="post.description"
      :quote="data.block_content.text"
      :twitter-user="post.author"
      :url="data.block_content.link"
      inline-template
      class="socials"
    >
      <div>
        <network network="vk">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/vk.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="facebook">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/facebook.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="odnoklassniki">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/odnoklassniki.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="twitter">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/twitter.svg" alt="" />
            </div>
          </div>
        </network>
      </div>
    </social-sharing>
    <social-sharing
      v-else
      :title="post.title"
      :description="post.description"
      :quote="post.title"
      :twitter-user="post.author"
      :hashtags="String(tagsToString(post.tags))"
      url="fitness.dev-team.su"
      inline-template
      class="socials"
    >
      <div>
        <network network="vk">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/vk.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="facebook">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/facebook.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="odnoklassniki">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/odnoklassniki.svg" alt="" />
            </div>
          </div>
        </network>
        <network network="twitter">
          <div class="social">
            <div class="social-img">
              <img src="~assets/images/twitter.svg" alt="" />
            </div>
          </div>
        </network>
      </div>
    </social-sharing>
    <div v-if="token" class="socials like">
      <div class="social">
        <div class="social-img">
          <button @click.prevent="addLike(post.can_like)">
            <img src="~assets/images/shape-big.svg" alt="" />
          </button>
        </div>
        <div class="social-index">{{ post.likes }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Socials',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {}
  },
  methods: {
    tagsToString(array) {
      const titles = array.map(item => item.title)
      return titles
    },
    addLike(canLike) {
      this.$store.dispatch('post/fetchPostsById', this.$route.params.id)
      if (!canLike) {
        this.$message.error('Статья уже была отмечена, как понравившаяся.')
      } else {
        this.$message.success('Статья успешно отмечена, как понравившаяся.')
      }
      this.$store.dispatch('post/addLike', this.$route.params.id)
      this.$store.dispatch('post/fetchPostsById', this.$route.params.id)
    }
  },
  computed: {
    ...mapGetters({
      token: 'auth/token',
      meta: 'post/getMeta',
      post: 'post/getPostsById'
    })
  }
}
</script>

<style lang="sass">
.socials
  display: flex
  margin-left: -8px
  flex-wrap: wrap
.vertical
  & .socials
    flex-direction: column!important
    align-items: center
    margin-left: -8px!important
    @media (max-width: 768px)
      display: none
.social
  display: flex
  align-items: center
  border-right: 1px solid rgba(#6E6E6E, 0.19)
  padding: 0 8px
  margin-bottom: 10px
  cursor: pointer
  &-index
    margin-left: 8px
    font-family: 'Helvetica'
    font-size: 16px
    line-height: 20px
    color: #6E6E6E
  & button
    outline: none
    border: none
    background: transparent
    cursor: pointer
.none
  position: fixed
  top: 65%
  z-index: 10
  @media (max-width: 1440px)
    top: 72%
  @media (max-width: 1366px)
    top: 74%
  & .social
    border: none
    margin-bottom: 12px
    &-index
      display: none
.socials + .socials
    margin-left: 0
.partners-wrap
  & .like
    display: none
</style>
