<template>
  <section class="blog-inner">
    <el-row
      :gutter="24"
      v-if="post.article_id"
      class="container"
      style="margin: 0 auto"
    >
      <el-col :span="24" style="padding: 0">
        <div :span="24" class="card-cols">
          <div class="card-col card-col_text">
            <div class="card-info__top">
              <div class="card-info">
                <div class="card-info__title">
                  {{ post.title }}
                  <span class="red"></span>
                </div>
                <div class="card-info__text">
                  {{ post.description }}
                </div>
              </div>
            </div>
            <div class="card-info__bottom">
              <div class="card-info__statistics">
                <div class="card-info__index card-info__index_inner">
                  <div class="card-info__index">
                    <span class="card-info__index_title">опубликовано</span>
                    <span class="card-info__index_indicator">
                      {{ post.publication_date }}
                    </span>
                  </div>
                </div>
                <div class="card-info__index card-info__index_inner">
                  <div class="card-info__index">
                    <span class="card-info__index_title">читать</span>
                    <span class="card-info__index_indicator">
                      {{ post.time_to_read }} минут
                    </span>
                  </div>
                </div>
                <div class="card-info__index card-info__index_inner">
                  <div class="card-info__index">
                    <span class="card-info__index_title">комментарии</span>
                    <span class="comment">
                      <span class="card-info__index_indicator">
                        {{ post.comments }}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="card-info__index card-info__index_inner">
                  <div class="card-info__index">
                    <span class="card-info__index_title">понравилось</span>
                    <span class="shape">
                      <span class="card-info__index_indicator">
                        {{ post.likes }}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-col card-col_img">
            <div class="card-image">
              <img :src="post.cover" alt="" />
            </div>
            <div class="card-image__subtitle">
              {{ post.cover_caption }}
            </div>
          </div>
        </div>
        <div
          v-for="block in post.blocks"
          :key="block.block_id"
          class="blog-info"
        >
          <text-compoment v-if="block.block_type === 'text'" :data="block" />
          <image-compoment v-if="block.block_type === 'image'" :data="block" />
          <quotation v-if="block.block_type === 'quotation'" :data="block" />
          <data-partners v-if="block.block_type === 'partner'" :data="block" />
          <socials class="vertical none" style="flex-direction: column" />
        </div>
        <el-row :gutter="24">
          <el-col :span="24">
            <tag :postTags="post.tags" />
            <similar-articles :samePost="samePost" />
          </el-col>
        </el-row>
        <comments
          :commentsAll="allComments"
          :postCount="post.comments"
          :rating="changeRating"
        />
      </el-col>
    </el-row>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import DataPartners from '@/components/BlogInner/DataPartners'
import Socials from '@/components/Socials/Socials'
import SimilarArticles from '@/components/BlogInner/SimilarArticles'
import Tag from '@/components/BlogInner/Tag'
import Comments from '@/components/Comments/Comments'
import TextCompoment from '@/components/BlogInner/TextComponent'
import ImageCompoment from '@/components/BlogInner/ImageComponent'
import Quotation from '@/components/BlogInner/QuotationComponent'
export default {
  name: 'Id',
  layout: 'innerBlog',
  components: {
    DataPartners,
    Socials,
    SimilarArticles,
    Comments,
    Tag,
    TextCompoment,
    ImageCompoment,
    Quotation
  },
  data() {
    return {
      loading: false
    }
  },
  validate({ params }) {
    return Boolean(params.id)
  },
  mounted() {
    this.fetchPostsById()
    this.fetchSamePosts()
    this.fetchComments()
  },
  methods: {
    fetchPostsById() {
      this.$store.dispatch('post/fetchPostsById', this.$route.params.id)
    },
    fetchSamePosts() {
      this.$store.dispatch('post/fetchSamePosts', this.$route.params.id)
    },
    fetchComments() {
      this.$store.dispatch('post/fetchComments', this.$route.params.id)
    }
  },
  computed: {
    ...mapGetters({
      post: 'post/getPostsById',
      samePost: 'post/getSamePosts',
      allComments: 'post/getComments',
      changeRating: 'post/getRating'
    })
  }
}
</script>

<style lang="sass" scoped>
.el-row
  margin: 0
.card
  &-cols
    display: flex
    width: 100%
    margin-bottom: 30px
    @media (max-width: 1070px)
      flex-wrap: wrap
  &-col.card-col_text
    width: 100%
    max-width: 540px
    @media (max-width: 1070px)
      max-width: 100%
  &-col.card-col_img
    margin-left: auto
    @media (max-width: 1070px)
      max-width: 100%
      margin: 15px auto 0
    & .card-image
      display: flex
      width: 100%
      max-width: 570px
      max-height: 320px
  &-image__subtitle
    margin-top: 15px
    font-style: italic
    font-weight: 300
    font-size: 17px
    line-height: 29px
    color: #313132
  &-info__top
    margin-bottom: 40px
    max-width: 538px
    width: 100%
    @media (max-width: 1070px)
      max-width: 100%
  &-info__title
    font-weight: bold
    font-size: 40px
    line-height: 50px
    margin: 0 0 15px
    color: #313132
    @media (max-width: 580px)
      font-size: 36px
      line-height: 40px
    & .red
      color: #FF5543
  &-info__text
    font-weight: normal
    font-size: 18px
    line-height: 29px
    color: #313132
    @media (max-width: 580px)
      font-size: 16px
      line-height: 20px
  &-info__bottom
    border-top: 1px solid rgba(#6E6E6E, .19)
    border-bottom: 1px solid rgba(#6E6E6E, .19)
    padding: 10px 0
    width: 100%
  &-info__statistics
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-left: -20px
    @media (max-width: 580px)
      margin-left: 0
    & .card-info__index_inner:last-child
      border-right: 1px solid transparent
    & .card-info__index_inner:first-child
      padding-right: 48px
    & .card-info__index_inner:nth-child(3)
      padding-right: 30px
  &-info__index_inner
    padding: 0 18px
    border-right: 1px solid rgba(#6E6E6E, .19)
    @media (max-width: 580px)
      width: 50%
      border-right: none
  &-info__index
    display: flex
    flex-direction: column
    align-items: flex-start
    & .shape
      background: url('~assets/images/Shape.svg') no-repeat
      background-size: cover
      display: flex
      align-items: center
      width: 15px
      height: 14px
      margin-right: 5px
      & span
        margin-left: 20px
    & .comment
      background: url('~assets/images/comment.svg') no-repeat
      background-size: cover
      display: flex
      align-items: center
      width: 16px
      height: 14px
      margin-right: 5px
      & span
        margin-left: 20px
  &-info__index_title
    font-weight: bold
    font-size: 16px
    line-height: 20px
    margin-bottom: 5px
    color: #FF5543
  &-info__index_indicator
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #6E6E6E
.blog
  &-info
    margin: 0 auto 30px
  &-text
    max-width: 700px
    margin: 0 auto 68px
    & p
      font-weight: normal
      font-size: 21px
      line-height: 33px
      color: #313132
    & .statement
      background: #FAFAFA
      padding: 20px
      border-left: 4px solid #244A9A
  &-text_with-title
    margin: 0 auto 20px
  &-text__h2
    font-weight: bold
    font-size: 36px
    line-height: 40px
    color: #313132
    margin-bottom: 25px
  &-images
    display: flex
    justify-content: center
    width: 100%
    margin-bottom: 22px
    @media (max-width: 1070px)
      flex-wrap: wrap
  &-text__h3
    font-family: Helvetica
    font-weight: normal
    font-size: 16px
    color: #333333
    margin-bottom: 13px
    & span
      font-weight: bold
      font-size: 20px
      line-height: 36px
  &-image
    max-width: 484px
    margin: 0 16px
    @media (max-width: 1070px)
      margin: 0 auto 20px
    & img
      max-height: 279px
      width: 100%
  &-ul
    font-weight: normal
    font-size: 21px
    line-height: 33px
    color: #333333
    margin-bottom: 20px
  &-li
    list-style: disc
  &-tags
    padding-bottom: 30px
    border-bottom: 1px solid rgba(#6E6E6E, 0.19)
    margin-bottom: 90px
  &-h4
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 15px
    font-size: 18px
    line-height: 38px
    color: #313132
  &-cols
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-left: -65px
  &-col
    width: 50%
    padding-left: 65px
  &-tag__items
    display: flex
    margin-left: -5px
  &-tag__item
    margin: 0 5px
    background: #FF5543
    border: 1px solid #FF5543
    max-width: 100px
    padding: 5px 15px
    font-weight: bold
    font-size: 14px
    line-height: 20px
    color: #ffffff
    text-align: center
</style>
