<template>
  <div class="container">
    <h2 class="main-title">Блог <span class="red">Fit</span>insider</h2>
    <search-form />
    <el-container>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="24" :lg="18" :xl="18">
          <el-main>
            <blog-card v-for="post in posts" :key="post.id" :post="post" />
            <el-pagination
              @current-change="handleCurrentChange"
              :page-size="5"
              :current-page.sync="currentPage"
              :pager-count="5"
              :total="meta.total"
              layout="prev, pager, next"
            >
            </el-pagination>
          </el-main>
        </el-col>
        <el-col :xs="24" :sm="24" :md="24" :lg="6" :xl="6">
          <el-aside width="100%">
            <Aside></Aside>
          </el-aside>
        </el-col>
      </el-row>
    </el-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SearchForm from '@/components/Blog/SearchForm'
import BlogCard from '@/components/Blog/BlogCard'
import Aside from '@/components/Aside/Aside'

export default {
  name: 'News',
  components: { SearchForm, BlogCard, Aside },
  layout: 'blog',
  loading: true,
  data() {
    return {
      currentPage: null
    }
  },
  created() {
    this.currentPage = Number(this.$route.query.page)
    this.fetchPosts()
  },
  methods: {
    fetchPosts() {
      this.$store.dispatch('post/fetchPosts', this.$route.query)
    },
    handleCurrentChange(val) {
      const obj = {}
      obj.page = val
      obj.publication_date = this.$route.query.publication_date
        ? this.$route.query.publication_date
        : ''
      this.$router.push({ path: '/news', query: obj })
      this.$store.dispatch('post/fetchPosts', obj)
    }
  },
  computed: {
    ...mapGetters({
      posts: 'post/getPosts',
      links: 'post/getLinks',
      meta: 'post/getMeta'
    })
  }
}
</script>

<style lang="sass">
.red
  color: #FF0000
.main-title
  color: #333333
  font-weight: bold
  font-size: 32px
  line-height: 70px
.el-main
  padding: 0
.el-pagination
  & .btn-prev,
  & .btn-next
    & .el-icon
      font-size: 15px
      display: flex
  & .el-icon-arrow-left,
  & .el-icon-arrow-right
    width: 30px
    height: 30px
    border: 1px solid #C4C4C4
    border-radius: 3px
    transition: .3s
    &:before
      font-size: 15px
      margin: auto
    &:hover
      border: 1px solid #FF5543
    &:hover
      background: #FF5543
    &:hover::before
      color: #ffffff
  & .el-pager
    vertical-align: super
    & .number
      font-family: Helvetica
      font-weight: normal
      font-size: 16px
      line-height: 20px
      transition: .3s
      color: #313132
      &.active
        color: #FF5543
      &:hover
        color: #FF5543
</style>
