<template>
  <div @click="openPost" class="card-outer">
    <div class="card-item">
      <div class="card-cols">
        <div class="card-col card-col_text">
          <div class="card-info__top">
            <div class="card-info-tags">
              <div v-for="tag in post.tags" class="card-info__new">
                {{ tag.title }}
              </div>
            </div>
            <div class="card-info">
              <div class="card-info__title">{{ post.title }}</div>
              <div class="card-info__text">
                {{ post.description }}
              </div>
            </div>
          </div>
          <div class="card-info__bottom">
            <div class="card-info__statistics">
              <div class="card-info__index card-info__index_inner">
                <div class="card-info__index">{{ post.publication_date }}</div>
              </div>
              <div class="card-info__index card-info__index_inner">
                <div class="card-info__index">
                  <span>{{ post.time_to_read }}</span>
                  &nbsp;минуты чтения
                </div>
              </div>
              <div class="card-info__index card-info__index_inner">
                <div class="card-info__index">
                  <span class="comment"></span>
                  <span>{{ post.comments }}</span>
                  &nbsp;Комментарий
                </div>
              </div>
              <div class="card-info__index card-info__index_inner">
                <div class="card-info__index">
                  <span class="shape"></span>
                  <span>{{ post.likes }}</span>
                  &nbsp;Нравится
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-col card-col_img">
          <div class="card-image">
            <img :src="post.cover" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlogCard',
  props: {
    post: {
      type: Object
    }
  },
  methods: {
    openPost() {
      const id = this.post.article_id
      this.$router.push(`/news/${id}`)
    }
  }
}
</script>

<style lang="sass" scoped>
.card
  &-outer
    padding: 32px 24px
    border: 1px solid #DADADA
    box-shadow: 0px 0px 14px rgba(242, 242, 242, 0.5)
    margin-bottom: 32px
    display: flex
    flex-direction: column
    text-decoration: none
    cursor: pointer
  &-cols
    display: flex
    @media (max-width: 768px)
      flex-direction: column-reverse
      align-items: center
  &-col.card-col_text
    width: 100%
    max-width: 580px
  &-col.card-col_img
    margin-left: auto
    @media (max-width: 768px)
      margin-left: 0
    & .card-image
      display: flex
      width: 100%
      max-width: 223px
      max-height: 246px
      @media (max-width: 768px)
        max-width: 100%
        margin-bottom: 20px
  &-info__top
    margin-bottom: 28px
  &-info-tags
    display: flex
    width: 100%
    flex-wrap: wrap
    margin-left: -5px
  &-info__new
    background: #FF5543
    border: 1px solid #FF5543
    min-width: 100px
    padding: 5px
    font-weight: bold
    font-size: 14px
    line-height: 20px
    color: #ffffff
    text-align: center
    margin: 5px
  &-info__title
    font-weight: bold
    font-size: 24px
    line-height: 33px
    margin: 16px 0 10px
    color: #313132
    @media (max-width: 411px)
      font-size: 20px
      line-height: 27px
  &-info__text
    font-weight: normal
    font-size: 18px
    line-height: 29px
    color: #313132
  &-info__bottom
    border-top: 1px solid rgba(#6E6E6E, .19)
    padding-top: 21px
    width: 100%
  &-info__statistics
    display: flex
    width: 100%
    margin-left: -30px
    @media (max-width: 767px)
      margin-left: 0
      flex-wrap: wrap
  &-info__index_inner
    padding-left: 30px
    @media (max-width: 767px)
      width: 50%
    @media (max-width: 411px)
      padding-left: 0
  &-info__index
    display: flex
    align-items: center
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #313132
    @media (max-width: 414px)
      font-size: 12px
    & .shape
      background: url('~assets/images/Shape.svg') no-repeat
      background-size: cover
      display: block
      width: 15px
      height: 14px
      margin-right: 5px
    & .comment
      background: url('~assets/images/comment.svg') no-repeat
      background-size: cover
      display: block
      width: 16px
      height: 14px
      margin-right: 5px
</style>
