<template>
  <nav id="pagination" class="pagination-nav">
    <ul v-if="data" class="pagination-ul">
      <li class="pagination-li">
        <nuxt-link
          v-if="this.prevpage != null"
          :to="{ path: '/news', query: { page: this.prevpage } }"
          class="pagination-link pagination-link_prev"
        >
          <span class="arrow-prev">
            <svg
              width="8"
              height="16"
              viewBox="0 0 8 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Path 3"
                d="M7.34375 0.5L1.25 8L7.34375 15.5"
                stroke="#C4C4C4"
                stroke-width="0.9375"
                stroke-linecap="round"
              />
            </svg>
          </span>
        </nuxt-link>
      </li>
      <li
        v-for="num in data.meta.total"
        v-if="num != null"
        :style="{ width: 100 / pageNumberCount + '%' }"
        class="pagination-li"
      >
        <a
          v-if="num != $route.query.page && num != currentPage"
          @click.prevent="nextPage(num)"
          href="#"
          class="pagination-link "
        >
          {{ num }}
        </a>
        <span v-else class="pagination-link active">{{ num }}</span>
      </li>
      <li class="pagination-li pagination-li_next">
        <nuxt-link
          v-if="this.nextpage != null && $route.query.page != data.meta.total"
          :to="{ path: '/news', query: { page: this.nextpage } }"
          class="pagination-link pagination-link_next"
        >
          <span class="arrow-next">
            <svg
              width="8"
              height="16"
              viewBox="0 0 8 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Path 3"
                d="M0.65625 0.5L6.75 8L0.65625 15.5"
                stroke="#C4C4C4"
                stroke-width="0.9375"
                stroke-linecap="round"
              />
            </svg>
          </span>
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {
      prevpage: null,
      nextpage: null,
      currentPage: null,
      pageNumbers: [],
      pageNumberCount: 0,
      totalPages: 0
    }
  },
  created() {
    this.fetchPosts()
  },
  mounted() {
    this.setPageNumbers()
  },
  methods: {
    setPages(currentPage, totalPageCount) {
      this.prevpage = currentPage > 1 ? currentPage - 1 : null
      if (!totalPageCount) {
        this.nextpage = this.$route.query.page
          ? parseInt(this.$route.query.page) + 1
          : 2
      } else {
        this.nextpage =
          currentPage < totalPageCount ? parseInt(currentPage) + 1 : null
      }
      for (let i = 0; i < 7; i++) {
        const _p = parseInt(currentPage) - 4 + i
        if (_p > 0 && _p <= totalPageCount) {
          this.pageNumbers.push(_p)
          this.pageNumberCount++
        } else this.pageNumbers.push(null)
      }
    },
    setPageNumbers() {
      const _currentPage = this.$route.query.page ? this.$route.query.page : 1
      this.currentPage = _currentPage
      this.setPages(_currentPage, this.data.meta.total)
      this.fetchPosts()
    },
    fetchPosts() {
      this.$store.dispatch('post/fetchPosts', this.$route.query.page)
    },
    nextPage(num) {
      this.$store.dispatch('post/fetchPosts', num)
    }
  }
}
</script>
<style lang="sass">
.pagination
  &-nav
    max-width: 269px
  &-ul
    display: flex
    align-items: center
    margin-left: -16px
    margin-bottom: 30px
  &-li
    margin-left: 16px
  &-link
    text-decoration: none
    font-family: Helvetica
    font-size: 16px
    line-height: 20px
    color: #313132
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s
    &:hover
      color: #FF5543
    &.active
      color: #FF5543
  &-link_prev,
  &-link_next
    width: 30px
    height: 30px
    border: 1px solid #C4C4C4
    border-radius: 3px
    transition: .3s
    &.disabled
      display: none
    &:hover
      border: 1px solid #FF5543
    &:hover
      background: #FF5543
    &:hover > span > svg > path
      stroke: #ffffff
.arrow-next,
.arrow-prev
  display: flex
  align-items: center
</style>
