<template>
  <el-form
    ref="formSearch"
    :model="search"
    :rules="rules"
    :xs="24"
    :sm="24"
    :md="11"
    :lg="11"
    :xl="11"
    class="demo-ruleForm"
  >
    <el-form-item>
      <el-col>
        <el-form-item prop="date">
          <el-date-picker
            v-model="search.date"
            :change="clearInput(search.date)"
            type="date"
            placeholder="Поиск по дате"
          ></el-date-picker>
        </el-form-item>
      </el-col>
    </el-form-item>
    <el-form-item class="button">
      <el-button
        @click="onSubmit($moment(search.date).format('YYYY-MM-DD'))"
        type="danger"
        class="button-submit"
      >
        Поиск
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'SearchForm',
  data() {
    return {
      loading: false,
      labelPosition: 'top',
      search: {
        date: ''
      },
      rules: {
        date: [
          {
            type: 'date',
            required: false,
            message: 'Дата не выбрана',
            trigger: 'change'
          }
        ]
      },
      options: {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      }
    }
  },
  methods: {
    onSubmit(val) {
      const obj = {}
      obj.page = 1
      obj.publication_date = val
      this.$refs.formSearch.validate(valid => {
        if (valid) {
          this.$router.push({
            path: '/news',
            query: obj
          })
          this.$store.dispatch('post/fetchPosts', obj)
        }
      })
    },
    clearInput(val) {
      if (val === null) {
        const obj = {}
        obj.page = 1
        this.$router.push({
          path: '/news',
          query: obj
        })
        this.$store.dispatch('post/fetchPosts', obj)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.el-form
  display: flex
  width: 100%
.el-form-item
  display: flex
  max-width: 220px
  width: 100%
  background: #FFFFFF
  border: 1px transparent
  padding: 0
  height: auto
  & .button
    @media (max-width: 414px)
      max-width: 88px
.el-form-item__content
  display: flex
  width: 100%
.el-date-editor.el-input
  width: 100%
.button-submit
  display: flex
  align-items: center
  justify-content: center
  max-width: 220px
  width: 100%
  margin-left: 10px
  font-weight: bold
  background-color: #FF5543
  border-color: #FF5543
  &:before
    content: url('~assets/images/icon-search-button.png')
    display: flex
    margin-right: 5px
</style>
