*
  margin: 0
  padding: 0
  box-sizing: border-box

body, html
  margin: 0
  padding: 0
  height: 100%
  font-family: Roboto, sans-serif
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent

li
  list-style: none

img
  max-width: 100%

a
  text-decoration: none

.info-text
  text-align: center
  font-size: 12px
.registration
  width: 100%
  max-width: 360px
  margin: auto
  background: rgba(0, 0, 0, 0.35)
  text-align: center
  border-radius: 0 0 4px 4px
  i
    color: #ffffff
    font-weight: bold
.container
  width: 100%
  max-width: 1170px
  display: flex
  padding: 0 15px
  margin: 0 auto
  flex-wrap: wrap

.page-enter-active,
.page-leave-active
  transition: opacity .5s

.page-enter,
.page-leave-active
  opacity: 0
