<template>
  <el-container>
    <el-header :style="{ padding: '0', height: 'auto' }">
      <app-navigation />
    </el-header>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer :style="{ height: 'auto' }">
      <span class="text">
        <span class="red">Fitinsider</span> - ваш проводник в мир фитнеса.
      </span>
    </el-footer>
  </el-container>
</template>

<script>
import AppNavigation from '@/components/Layout/Navigation'
export default {
  components: {
    AppNavigation
  }
}
</script>

<style lang="sass" scoped>
.el-main
  padding: 0
.text
  display: flex
  justify-content: center
  color: #fff
  padding: 9px 0
  font-weight: bold
.red
  color: #ff5542
.el-footer
  background-color: #333
</style>
