<template>
  <div class="empty-layout">
    <nuxt />
  </div>
</template>

<script>
export default {
  name: 'Empty',
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      console.log(value)
    }
  }
}
</script>

<style lang="sass" scoped>
.empty-layout
  display: flex
  justify-content: center
  width: 100%
  padding-top: 4rem
</style>
