<template>
  <el-container>
    <el-header
      :style="{
        padding: '0',
        height: 'auto',
        boxShadow: '0px 4px 4px rgba(0, 0, 0, 0.25)',
        zIndex: 2
      }"
    >
      <app-navigation />
    </el-header>
    <div class="banner"></div>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer :style="{ height: 'auto' }">
      <span class="text">
        <span class="red">Fitinsider</span> - ваш проводник в мир фитнеса.
      </span>
    </el-footer>
  </el-container>
</template>

<script>
import AppNavigation from '@/components/Layout/Navigation'
export default {
  name: 'InnerBlog',
  components: {
    AppNavigation
  }
}
</script>

<style lang="sass">
.el-main
  padding: 0
.text
  display: flex
  justify-content: center
  color: #fff
  padding: 9px 0
  font-weight: bold
.red
  color: #ff5542
.el-footer
  background-color: #333
.banner
  width: 100%
  height: 125px
  background: url('~assets/images/bg_blog_head.png')
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: 20px
</style>
