<template>
  <el-container>
    <el-header :style="{ padding: '0', height: '66px' }">
      <app-navigation />
    </el-header>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer :style="{ height: 'auto' }">
      <span class="text">
        <span class="red">Fitinsider</span> - ваш проводник в мир фитнеса.
      </span>
    </el-footer>
  </el-container>
</template>

<script>
import AppNavigation from '@/components/Layout/Navigation'
export default {
  components: {
    AppNavigation
  }
}
</script>

<style lang="sass" scoped>
.el-main
  padding: 0
  background: url(/auth-bg.jpg), rgba(0, 0, 0, 0.7)
  background-repeat: no-repeat
  background-position-y: -65px
  background-size: cover
  height: calc( 100vh - 103px )
.el-form-item__label
  line-height: 30px
.text
  display: flex
  justify-content: center
  color: #fff
  padding: 9px 0
  font-weight: bold
.red
  color: #ff5542
.el-footer
  background-color: #333
</style>
