<template>
  <div class="wrapper">
    <Login class="auth-position" />
  </div>
</template>

<script>
import Login from '@/components/Auth/Login'
export default {
  layout: 'login',
  components: {
    Login
  }
}
</script>
<style lang="sass" scoped>
.wrapper
  display: flex
  justify-content: center
  align-items: center
  height: inherit
</style>
