<template>
  <div>Выход</div>
</template>

<script>
export default {
  name: 'Logout',
  middleware: ['admin-auth'],
  beforeCreate() {
    this.$store.dispatch('auth/logout')
    this.$router.push('/login?message=logout')
  }
}
</script>
