<template>
  <div class="wrap">
    <el-card
      :style="{
        width: '100%',
        maxWidth: '360px',
        borderRadius: '4px 4px 0 0',
        margin: '4rem auto 0'
      }"
      class="auth"
      shadow="always"
    >
      <el-form
        ref="formRegistration"
        :model="form"
        :rules="rules"
        :label-position="labelPosition"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="Вы являетесь" prop="user">
          <el-select v-model="form.type" filterable>
            <el-option
              v-for="item in users"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              default-first-option
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Ваше имя" prop="name" type="text">
          <el-input v-model="form.name" type="text" />
        </el-form-item>
        <el-form-item label="Ваш пол" prop="gender">
          <el-select v-model="form.gender">
            <el-option
              v-for="item in genders"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              prop="gender"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Ваше номер телефона" prop="phone" type="text">
          <client-only>
            <masked-input
              v-model="form.phone"
              @input="getInput"
              mask="\+7\ (111) 111-11-11"
              type="text"
              required
              class="el-input__inner"
            />
          </client-only>
        </el-form-item>
        <el-form-item label="Выберите город" prop="city">
          <el-select v-model="form.cityId">
            <el-option
              v-for="item in citiesList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-button
          @click.prevent="onSubmit"
          :loading="loading"
          type="danger"
          native-type="submit"
          class="button-enter"
          icon="el-icon-user"
        >
          Создать аккуант
        </el-button>
        <span class="info-text">
          Отправляя форму вы даете согласие на обработку ваших персональных
          данных
        </span>
      </el-form>
    </el-card>
    <div class="registration">
      <nuxt-link to="/login">
        <i class="el-icon-user">Уже есть аккаунт?</i>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { toSend } from '@/helpers/transform'
export default {
  name: 'Registration',
  layout: 'login',
  data() {
    return {
      loading: false,
      labelPosition: 'top',
      form: {
        name: '',
        type: '',
        gender: '',
        phone: '',
        cityId: ''
      },
      cities: [{ value: 1, label: 'Тюмень' }],
      users: [
        { value: 'trainer', label: 'Тренер', role: 'trainer' },
        { value: 'client', label: 'Клиент', role: 'client' }
      ],
      genders: [
        { value: 'male', label: 'Мужчина' },
        { value: 'female', label: 'Женщина' }
      ],
      rules: {
        name: [
          {
            required: true,
            message: 'Пожалуйста введите ваше имя',
            trigger: 'blur'
          }
        ],
        phone: [
          {
            required: true,
            message: 'Пожалуйста введите номер телефона',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  computed: {
    error() {
      return this.$store.getters.error
    },
    ...mapGetters({
      citiesList: 'auth/getCitiesList'
    })
  },
  watch: {
    error(value) {
      this.$message.error(value.response.data.errors.phone[0])
      this.loading = false
    }
  },
  mounted() {
    this.getRole()
    this.$store.dispatch('auth/getCities')
  },
  methods: {
    getInput() {
      if (this.errorPhone && this.ruleForm.phone.includes('_')) {
        this.errorPhone = false
      }
    },
    onSubmit() {
      this.$refs.formRegistration.validate(async valid => {
        if (valid) {
          this.loading = true
          try {
            const { name, type, gender, phone, cityId } = this.form
            const form = { name, type, gender, phone, cityId }
            await this.$store.dispatch('auth/createUser', toSend(form))
            this.$message.success('Пользователь успешно добавлен')
            this.$refs.formRegistration.resetFields()
            this.$router.push('/login')
            this.loading = false
          } catch (e) {
            this.loading = false
          }
        }
      })
    },
    getRole() {
      const role = this.$route.query.role
      if (!this.isEmpty(role)) this.form.type = role
    },
    isEmpty(obj) {
      for (const key in obj) {
        return false
      }
      return true
    }
  }
}
</script>

<style lang="sass" scoped>
.el-form-item
  margin-bottom: 15px
.el-select
  width: 100%
.el-form-item__content
  width: 100%
.el-button
  width: 100%
  max-width: 100%
.text
  display: flex
  justify-content: center
  color: #fff
  padding: 10px 0
  font-weight: bold
.red
  color: #ff5542
.el-footer
  background-color: #333
.registration
  height: 40px
  display: flex
  align-items: center
  justify-content: center
</style>
