<template>
  <div class="wrap authorization">
    <el-card
      :style="{
        width: '100%',
        maxWidth: '360px',
        borderRadius: '4px 4px 0 0'
      }"
      class="auth"
      shadow="always"
    >
      <el-form
        ref="formAuth"
        :model="ruleForm"
        :rules="rules"
        :label-position="labelPosition"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="Номер телефона" prop="phone">
          <client-only>
            <masked-input
              v-model="ruleForm.phone"
              @input="getInput"
              mask="\+7\ (111) 111-11-11"
              type="text"
              required
              class="el-input__inner"
            />
          </client-only>
        </el-form-item>
        <el-form-item label="Пароль" prop="password" type="password">
          <el-input v-model="ruleForm.password" type="password" show-password />
        </el-form-item>
        <el-checkbox-group v-model="ruleForm.rememberMe">
          <el-checkbox label="Запомнить меня" name="type"></el-checkbox>
        </el-checkbox-group>
        <el-button
          @click.prevent="onSubmit"
          :loading="loading"
          type="danger"
          native-type="submit"
          class="button-enter"
          icon="el-icon-user-solid"
          >Войти в кабинет
        </el-button>
        <el-button @click="dialogForgotVisible = true" class="button-forgot">
          Забыли пароль?
        </el-button>
        <span class="info-text">
          Отправляя форму вы даете согласие на обработку ваших персональных
          данных
        </span>
      </el-form>
    </el-card>
    <div class="registration">
      <nuxt-link to="/registration">
        <i class="el-icon-user">Регистрация</i>
      </nuxt-link>
      <el-dialog
        :visible.sync="dialogForgotVisible"
        width="360px"
        title="Забыли пароль"
        custom-class="dialog-forgot"
      >
        <el-form
          ref="modalForgot"
          :model="modalForgot"
          :rules="rules"
          novalidate="true"
          class="form-dialog"
        >
          <el-form-item label="Введите ваш телефон:" prop="phone">
            <client-only>
              <masked-input
                v-model="modalForgot.phone"
                @input="getInput"
                mask="\+7\ (111) 111-11-11"
                type="text"
                required
                class="el-input__inner"
              />
            </client-only>
          </el-form-item>
          <el-button
            @click.prevent="forgot"
            :loading="loading"
            type="danger"
            native-type="submit"
            class="button-enter"
          >
            Отправить
          </el-button>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      labelPosition: 'top',
      dialogForgotVisible: false,
      modalForgot: {
        phone: ''
      },
      ruleForm: {
        phone: '',
        password: '',
        rememberMe: ''
      },
      rules: {
        phone: [
          {
            required: true,
            message: 'Пожалуйста введите номер телефона',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Пожалуйста введите пароль',
            trigger: 'blur'
          },
          {
            min: 6,
            message: 'Минимальная длина пароля 6 символов',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  computed: {
    error() {
      return this.$store.getters.error
    },
    success() {
      return this.$store.getters.success
    }
  },
  watch: {
    error(value) {
      if (value.response.data.errors.hasOwnProperty('phone')) {
        this.$message.error(value.response.data.errors.phone[0])
        this.loading = false
      } else {
        this.$message.error(value.response.data.errors)
        this.loading = false
      }
    },
    success(value) {
      this.$message.success(value)
    }
  },
  mounted() {
    const { message } = this.$route.query
    switch (message) {
      case 'login':
        this.$message.info('Для начала залогинтесь!')
        break
      case 'logout':
        this.$message.success('Вы успешно вышли из системы')
        break
      case 'session':
        this.$message.warning('Время сессии истекло пожалуйста залогинтесь')
        break
    }
  },
  methods: {
    getInput() {
      if (this.errorPhone && this.ruleForm.phone.includes('_')) {
        this.errorPhone = false
      }
    },
    onSubmit() {
      this.$refs.formAuth.validate(async valid => {
        if (valid) {
          this.loading = true
          try {
            const formData = {
              phone: this.ruleForm.phone,
              password: this.ruleForm.password,
              rememberMe: this.ruleForm.rememberMe
            }
            await this.$store.dispatch('auth/login', formData)
          } catch (e) {
            this.$router.push('/login')
            this.loading = false
          }
        }
      })
    },
    forgot() {
      this.$refs.modalForgot.validate(async valid => {
        if (valid) {
          this.loading = true
          try {
            const formData = {
              phone: this.modalForgot.phone
            }
            await this.$store.dispatch('auth/forgot', formData)
            this.loading = false
            this.dialogVisible = false
            this.$refs.modalForgot.resetFields()
          } catch (e) {
            this.loading = false
          }
        }
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.wrap
  margin-top: 2rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  max-width: 360px
.button-enter
  width: 100%
  margin-top: 15px
.button-forgot
  width: 100%
  margin-left: 0
  margin-top: 10px
  margin-bottom: 10px
.registration
  height: 40px
  display: flex
  align-items: center
  justify-content: center
.el-button
  max-width: 100%

.el-dialog__wrapper
  overflow: hidden
  & .el-dialog
    width: 100%
    max-width: 459px
    background: #FAFAFA
    border: 1px solid #DADADA
    box-shadow: 0px 0px 14px rgba(242, 242, 242, 0.5)
  .el-dialog__header
    @media (max-width: 411px)
      margin: auto
  .el-dialog__headerbtn
    width: 32px
    height: 32px
    background: #FF5543
  .el-dialog__close.el-icon.el-icon-close
    color: #ffffff
    top: 56px
    right: 32px
    &:before
      font-size: 23px
  .el-dialog__header
    max-width: 263px
    margin-left: 76px
    padding-top: 56px
  .el-dialog__title
    font-family: Roboto
    font-weight: bold
    font-size: 24px
    line-height: 32px
    text-align: left
    color: #333333
    mix-blend-mode: normal
    opacity: 0.8
  .el-dialog__body
    padding: 30px 32px 32px 96px
    @media (max-width: 411px)
      padding: 15px
  .el-input
    max-width: 263px
  .el-form-item__label
    display: block
    width: 100%
    text-align: left
</style>
