<template>
  <el-row :gutter="24">
    <el-col :span="22" :offset="1" :style="{ padding: 0 }">
      <div class="partners-outer">
        <div class="partners-wrap">
          <div class="partners-top">
            <div class="partners-tag">Партнерский материал</div>
            <div class="partners-date">
              {{ data.block_content.event_date }}
            </div>
          </div>
          <div class="partners-title">
            {{ data.block_content.title }}
          </div>
          <div v-html="data.block_content.text" class="partners-text"></div>
          <a :href="data.block_content.link" class="partners-link">
            Перейти
          </a>
          <socials :data="data" />
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import Socials from '@/components/Socials/Socials'
export default {
  name: 'DataPartners',
  components: { Socials },
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="sass" scoped>
.partners
  &-outer
    background: #FAFAFA
    padding: 32px 0 68px 0
    width: 100%
    @media (max-width: 768px)
      padding: 12px
  &-wrap
    margin: 0 auto
    width: 100%
    max-width: 700px
    display: flex
    flex-direction: column
  &-top
    display: flex
    width: 100%
    justify-content: center
    margin-bottom: 20px
    @media (max-width: 580px)
      order: 2
      justify-content: flex-start
  &-tag,
  &-link
    background: #FF5543
    border: 1px solid #FF5543
    max-width: 215px
    padding: 6px 14px
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #ffffff
    text-align: center
    margin-right: auto
  &-tag
    @media (max-width: 580px)
      display: none
  &-link
    text-decoration: none
    border-radius: 3px
    max-width: 220px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin: 32px 0 46px
    @media (max-width: 580px)
      order: 4
  &-date
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #6E6E6E
    margin-left: auto
    @media (max-width: 580px)
      margin-left: 0
  &-title
    font-weight: bold
    font-size: 24px
    line-height: 32px
    margin-bottom: 16px
    color: #333333
    @media (max-width: 580px)
      order: 1
  &-text
    font-weight: normal
    font-size: 21px
    line-height: 33px
    color: #333333
    @media (max-width: 580px)
      order: 3
  &-text_important
    font-weight: bold
    margin-bottom: 16px
.socials
  @media (max-width: 580px)
    order: 5
</style>
