<template>
  <div id="fb-root"></div>
</template>

<script>
export default {
  name: 'FacebookComments',
  async asyncData({ store }) {
    const comments = await store.dispatch('comments/fetchComments')
    return { comments }
  }
}
</script>
