<template>
  <div>
    <div class="blog-text blog-text_with-title">
      <h3 class="blog-text__h3">
        <span>{{ data.block_content.caption }}</span>
      </h3>
      <p v-html="data.block_content.text" class="statement"></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuotationComponent',
  props: {
    data: {
      type: Object
    }
  }
}
</script>

<style lang="sass" scoped>
.blog
  &-info
    margin: 0 auto 30px
  &-text
    max-width: 700px
    margin: 0 auto 68px
    & p
      font-weight: normal
      font-size: 21px
      line-height: 33px
      color: #313132
    & .statement
      background: #FAFAFA
      padding: 20px
      border-left: 4px solid #244A9A
  &-text_with-title
    margin: 0 auto 20px
  &-text__h2
    font-weight: bold
    font-size: 36px
    line-height: 40px
    color: #313132
    margin-bottom: 25px
  &-images
    display: flex
    justify-content: center
    width: 100%
    margin-bottom: 22px
  &-text__h3
    font-family: Helvetica
    font-weight: normal
    font-size: 16px
    color: #333333
    margin-bottom: 13px
    & span
      font-weight: bold
      font-size: 20px
      line-height: 36px
  &-image
    max-width: 484px
    margin: 0 16px
    & img
      max-height: 279px
      width: 100%
  &-ul
    font-weight: normal
    font-size: 21px
    line-height: 33px
    color: #333333
    margin-bottom: 20px
  &-li
    list-style: disc
  &-tags
    padding-bottom: 30px
    border-bottom: 1px solid rgba(#6E6E6E, 0.19)
    margin-bottom: 90px
  &-h4
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 15px
    font-size: 18px
    line-height: 38px
    color: #313132
  &-cols
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-left: -65px
  &-col
    width: 50%
    padding-left: 65px
  &-tag__items
    display: flex
    margin-left: -5px
  &-tag__item
    margin: 0 5px
    background: #FF5543
    border: 1px solid #FF5543
    max-width: 100px
    padding: 5px 15px
    font-weight: bold
    font-size: 14px
    line-height: 20px
    color: #ffffff
    text-align: center
</style>
