<template>
  <div class="articles-outer">
    <el-col :span="24">
      <h2 class="articles-h2">
        Похожие записи
      </h2>
    </el-col>
    <div :span="24" class="articles-items">
      <a
        :span="24"
        :href="item.article_id"
        v-for="item in samePost"
        :key="item.article_id"
        :value="item.value"
        class="articles-item__inner"
      >
        <div class="articles-item">
          <div class="articles-item__img">
            <img :src="item.cover" alt="" />
          </div>
          <div class="articles-item__tags">
            <div
              v-for="item in item.tags"
              :key="item.tag_id"
              :value="item.value"
              class="articles-item__tag"
            >
              {{ item.title }}
            </div>
          </div>
          <div class="articles-item__title">
            {{ item.title }}
          </div>
          <div class="articles-item__bottom">
            <div class="articles-item__info">{{ item.publication_date }}</div>
            <div class="articles-item__info">
              {{ item.time_to_read }} минуты чтения
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimilarArticles',
  props: {
    samePost: {}
  }
}
</script>

<style lang="sass" scoped>
.articles
  &-outer
    padding: 90px 0 0
  &-h2
    font-family: Helvetica
    font-weight: bold
    font-size: 36px
    line-height: 20px
    color: #313132
    margin-bottom: 50px
    @media (max-width: 556px)
      font-size: 30px
  &-items
    display: flex
    justify-content: flex-start
    width: 100%
    @media (max-width: 1170px)
      flex-wrap: wrap
    @media (max-width: 556px)
      justify-content: center
  &-item__inner
    display: flex
    padding: 15px
  &-item
    display: flex
    flex-direction: column
    height: auto
    background: #F7F8FA
    max-width: 263px
    border: 1px solid #F1F1F1
    box-sizing: border-box
    box-shadow: 0px 0px 14px rgba(242, 242, 242, 0.5)
    padding: 0 14px 22px
    margin-bottom: 30px
  &-item__img
    margin: 0 -14px 16px
    & img
      width: 100%
      max-height: 104px
  &-item__tags
    display: flex
    flex-wrap: wrap
    margin-left: -5px
  &-item__tag
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #6E6E6E
    margin: 0 5px 13px
  &-item__title
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #313132
    margin-bottom: 24px
    max-width: 235px
  &-item__bottom
    margin-top: auto
    display: flex
    width: 100%
    justify-content: space-between
  &-item__info
    font-family: Roboto
    font-weight: normal
    font-size: 12px
    line-height: 20px
    color: #313132
</style>
