<template>
  <el-row :gutter="24">
    <el-col :span="10" :offset="1" :xs="24" :sm="24" :md="10">
      <h4 class="tag-h4">ТЕГИ</h4>
      <div class="tags">
        <div
          v-for="item in postTags"
          :key="item.tag_id"
          :value="item.value"
          class="tag"
        >
          {{ item.title }}
        </div>
      </div>
    </el-col>
    <el-col
      :span="10"
      :xs="{ span: 24, offset: 1 }"
      :sm="{ span: 24, offset: 1 }"
      :md="{ span: 10, offset: 0 }"
    >
      <socials />
    </el-col>
  </el-row>
</template>

<script>
import Socials from '@/components/Socials/Socials'
export default {
  name: 'Tag',
  components: { Socials },
  props: {
    postTags: {
      type: Array
    }
  }
}
</script>

<style lang="sass" scoped>
.el-row
  display: flex
  align-items: flex-end
  flex-wrap: wrap
.el-col
  border-bottom: 1px solid rgba(#6E6E6E, 0.19)
  padding-bottom: 30px
  @media (max-width: 991px)
    border-bottom: transparent
.tags
  display: flex
  flex-wrap: wrap
  margin-left: -5px
.tag
  background: #FF5543
  margin: 0 5px 5px
  border: 1px solid #FF5543
  padding: 5px 15px
  font-weight: bold
  font-size: 14px
  line-height: 20px
  color: #ffffff
  text-align: center
  &-h4
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 15px
    font-size: 18px
    line-height: 38px
    color: #313132
</style>
